

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    
}
.img{
    left: 120px;
}
.link-perent{
    display: flex;
    gap: 22px;
    list-style: none;
    font-size: 132px 24px;
    color: #000000;
    font-family: Inter;
}
.link-perent a{
    text-decoration: none;
}
.btn{
    padding: 12px 16px 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 132px 19px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}