
/* nav Design <!-- 1 নাম্বার সেকশন --> */
.inter {
    margin: 0;
    padding: 0;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    
}
.img{
    left: 120px;
}
.link-perent{
    display: flex;
    gap: 22px;
    list-style: none;
    font-size: 132px 24px;
    color: #000000;
    font-family: Inter;
    cursor: pointer;
}
.link-perent a{
    text-decoration: none;
    
}
.btn{
    padding: 12px 16px 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 132px 19px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}






/* 1 hero-banner  Design <!-- 2 নাম্বার সেকশন --> */ 





.hero-parent{
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
}
 .hero-container{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.hero-container .p1 {
    padding-top:  115.5px;
    font-size: 183px 19px;
    gap: 5px;
    

}
.hero-container .p1 button{
    padding: 8px 12px 8px 12px;
    background-color: #FFFFFF;
    color: #469165;
    border-radius: 1000px;
     cursor: pointer;


}

.hero-container .pa span{
    font-weight: bolder;
} 

    


 .h1{
    
    font-style: bold;
    font-weight: 700;
    line-height: 85px;
    font-family: inter;
    gap: 0;
}

.line1{
    color: #FFFFFF;
    font-size: 72px;
     font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.line2{
    color: #30B868;
    font-size: 72px;
     font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.p2{
    width: 1360px;
    height: 60px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}
.button a{
    text-decoration: none;
    color: #FFFFFF;
}

.button .btn1{
    width: 251px;
    height: 52px;
    text-align: center;
    font-size: 16px;
    background-color: #469165;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;

}
.btn1{
    margin-left: 5px;
    margin-top: 20px;
}
.button .btn1 span {
    gap: 10px;
}
/* }
.button .btn1 img {
   mar
} */
.button .btn2 {
    width: 168px;
    height: 55px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size:136px 19px ;
}

.button .btn2 span {
    gap: 10px;
}
 /* যতটুকু পারছি ,বাকিটা স্যারকে জিজ্ঞেস করে লিখবো */



 /* card deasign<!-- 3 নাম্বার সেকশন --> */ 


 #card-parent{
    background-color: rgb(255, 255, 255);
 }
 #card-parent .text{
    text-align: center;
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;

 }
#card-parent .text h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}
#card-parent .text p{
    font-style: Regular;
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;


  
}
.card-style .card1 .image-container{
    background-color: #F95555;
    display: flex;
     justify-content: center; 
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.card-style .card1 .image-container img{
    width: 32px;
    height: 32px;
    text-align: center;
}
.card1{
    border: 2px solid rgb(251, 249, 249);
   box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    width: 322px;
    height: 300px;  
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
    padding: 24px
    border-radius: 8px;
    
}
.card-style .card1 {
    text-align: center;

}
.card-style .card1 .h2-p {
    gap: 2px;
}
.card-style .card1 h2{
 font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 font-style: Semi Bold;
 font-size: 274px 29px;
 font-weight: 600;
}
.card-style .card1 p{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
letter-spacing: 0%;
 text-align: center;
 width: 274px;
 height: 40px;
 color: #627382;
}
.card-style {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
    padding-bottom:120px ;
}

/* ৪ নাম্বার সেকশন  */
#section4-parent{
width: 100%;
height: 600px;
display: flex;
justify-content:center;
align-items: center;
gap: 60px;
margin-bottom: 120px;

}

#section4-parent .section4-img{
    width: 600px;
   border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section4-text{
    width: 700px;
   display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px;
}
.section4-text .pp1{
    width: 700px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 500;
   line-height: 20px;
   text-align: left;
   color: #469165;
}
.section4-text h1{
    width: 700px;
   height: 116px;
   font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
   font-style: Bold;
  font-size: 48px;
  font-weight: 700;
   line-height: 58px;
   text-align: left;

}
.section4-text .pp2 {
    width: 700px;
    height: 60px;
    font-family: Inter;
    font-size: 16px;
   font-weight: 400;
  line-height: 20px;
text-align: left;
color: #627382;
}
.section4-text .custom-list li{
    width: 700px;
    list-style: none;
    padding-left: 0;
}
.custom-list li::before {
    content: url(../assets/CheckCircle.png);
    color: #00b894; 
    font-weight: bold;
    margin-right: 10px; 
    padding-left: 0;
     vertical-align: middle;
}
/* 5 নাম্বার সেকশন */
#extra-container {
    width: 1360px;
    height: 384px;
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    background-color: #F7F6F2;
    padding: 80px 40px 120px 40px;
    margin: auto;
    border-radius: 12px;

}
#extra-container h1{
    width: 1280px;
    height: 48px;
     font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
font-style: Bold;
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: center;
margin: 0;
}
#extra-container .extra1{
    width: 1280px;
height: 112px;
font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
color: #627382;
margin: 0;
}


#extra-container .btn1{ 
    width: 194px;
    height: 52px;
    text-align: center;
    font-size: 16px;
    background-color: #469165;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;

} 
#extra-container .btn1 a{
    text-decoration: none;
    color: #FFFFFF;
}
 #extra-container .extra2{
    width: 1280px;
    height: 20px;
    font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;
color: #627382;

 }
 /* <!-- ৬ নাম্বার এবং শেষ সেকশন --> */

 .last-parent{
    padding-top: 120px;
    height: 348px;
    width: auto;
    background-color:#001931;
    background-size: cover;
    
padding: 120px 120px 30px 120px;

 }

 .footer-logo{
    display: flex;
    justify-content: space-around;
    align-items: first baseline;
 }
 .footer-last{
    display: flex;
    justify-content: space-between;
    
}
.social-title{
    width: 113px;
    height: 28px;
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
font-size: 20px;
font-weight: 500;
line-height: 28px;
color: #FFFFFF;
text-align: center;
}
.social-icons img {
  filter: invert(100%) brightness(100%); 
}
.footer-bottom{
    padding-top:100px;
}
.footer-bottom p{
    color: #FFFFFF;
    margin: auto;
    text-align: center;
    width: 1360px;
    height: 24px;
}
 